<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="import" type="text/html" href="../../head.html">
    <script src="../vue.js"></script>
    <script src="../footer.js"></script>
</head>
<body>
    <my-footer id="my-footer" v-bind:icons="icons" v-bind:developer="developer"></my-footer>
    <my-record id="my-record" v-bind:record="record"></my-record>
</body>
<script>
    var myFooter = new Vue({
        el: '#my-footer',
        data:{
            icons:[{
                call:"star",
                action: "点赞",
                url:"#",
                icon:"am-icon-star"
            },{
                call:"wechat",
                action: "打赏",
                url:"#",
                icon:"am-icon-wechat"
            },{
                action: "评论",
                url:"#",
                icon:"am-icon-comment"
            },{
                action: "报bug",
                url:"#",
                icon:"am-icon-bug"
            }],
            developer:{
                name: "zhuangqf",
                github:"https://github.com/zhuangqf-sysu"
            }
        },
        mounted:function () {
            $('.am-icon-star').on('click',function () {
                alert("star");
            })
        }
    });
    var myRecord=new Vue({
        el:"my-record",
        data:{
            "record": "备案号"
        }
    });
</script>
</html>