<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="import" type="text/html" href="../../head.html">
    <script src="../vue.js"></script>
    <script src="../header.js"></script>
</head>
<body>
    <header class="my-header" id="my-header">
        <my-header v-bind:title="title" v-bind:menu="menu"></my-header>
    </header>
</body>
<script>
    var header = {
        title: "zhuangqf",
        menu:[{
            url:"index.html",
            name:"home"
        },{
            url:"netty.html",
            name:"netty"
        }]
    };
    var myHeader = new Vue({
        el: '#my-header',
        data: header
    });

</script>
</html>