<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="import" type="text/html" href="../../head.html">
    <link rel="import" type="text/html" href="../../head_article.html">
    <script src="../vue.js"></script>
    <script src="../footer.js"></script>
    <script src="../article.js"></script>
</head>
<body>
    <my-section id="my-section" :html="html" :url="url" :icons="icons"></my-section>
</body>
<script>
    var mySection = new Vue({
        el: 'my-section',
        data: {
            url:"https://raw.githubusercontent.com/zhuangqf-sysu/SpringBootDemo/master/README.md",
            html: "<h4>文章加载中......</h4>",
            icons:[{
                url:"#",
                icon:"am-icon-star am-icon-btn"
            },{
                url:"#",
                icon:"am-icon-wechat am-icon-btn"
            },{
                url:"#",
                icon:"am-icon-comment am-icon-btn"
            }]
        }
    })
</script>
</html>